<app-navbar></app-navbar>
<!-- <app-home-body></app-home-body> -->
<router-outlet></router-outlet>
<!-- <app-wheel-spin></app-wheel-spin> -->
<!-- <app-scratch-card></app-scratch-card> -->
<!-- <app-stackblitz></app-stackblitz> -->
<!-- <app-correct2></app-correct2> -->
<!-- <app-markdown-editor></app-markdown-editor> -->
<!-- <app-cards></app-cards> -->
<!-- <app-git></app-git> -->
<!-- <app-text-editor></app-text-editor> -->
<!-- <app-testadminjson></app-testadminjson> -->
<!-- <app-monacotest></app-monacotest> -->
